<section class= 'form-container'>
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row mb-3 d-flex flex-column">
      <div class="form-group mb-3 col-sm-7">
        <%= f.email_field :email, placeholder: "email@gmail.com", autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions mb-3 col-sm-2">
        <%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>